# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Sem2 INFO UAIC\Tema1SecuritateaInformatiei\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
